 #one{
     position: relative;
   top: 400px;
 }
 Header{
     position: relative;
     background: #0C002B;
     color: white;
     padding: 7px;
     overflow: none;
     width: 1400px;
    height: 50px;
    
   }
  
     .logo{
         float: left;
        position: relative;
        top: 10px;
     }
     nav{
         float: right;
         position: relative;
         top: 10px;
    }
        
         a{
             color: white;
            text-decoration: none;
             text-transform: uppercase;
            font-weight: 300px;
             padding: 5px 20px;
             font-size: 10px;
         }
  
           a:hover {
               color: #FF71BE;
           }
            .register-btn {
                 background: #FF71BE;
                  padding: 5px 20px;
                 text-align: center;
                color: white;
                  border-radius: 2px;
              }
              .register-btn:hover{
                background: white;
                cursor: pointer;
              }

              .nav-head{
                position: relative; 
                right: 80px;
              }
           